[submodule "user"]
	path = user
	url = git@github.com:alexkarpovich/quiqstee-user.git
[submodule "telegram"]
	path = telegram
	url = git@github.com:alexkarpovich/quiqstee-telegram.git
[submodule "ui"]
	path = ui
	url = git@github.com:alexkarpovich/quiqstee-ui.git
