[submodule "user"]
	path = user
	url = https://github.com/alexkarpovich/quiqstee-user.git
[submodule "telegram"]
	path = telegram
	url = https://github.com/alexkarpovich/quiqstee-telegram.git
[submodule "ui"]
	path = ui
	url = https://github.com/alexkarpovich/quiqstee-ui.git
